<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{3} %L %M - %msg%xEx%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="execution.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{3} %L %M -- %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="50 MB"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
        <logger name="GenreFactory" level="OFF"/>
    </loggers>
</configuration>
